@charset "UTF-8";
/* CSS file for mobile viewing with color schemes that have more contrast than destop CSS */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#323536;
}

#banner{
background-color: #323536;
margin: auto; 
text-align: center;
padding: 0px;
width: 150%;
}

@keyframes shape-shift{
    0% {transform:skew(0deg);} 
    25% {transform:skew(20deg);}
    50% {transform:skew(0deg);}  
   75% {transform:skew(-20deg);} 
   100% {transform:skew(0deg);} 
   } /* Keyframes for animating the Banner's main Heading */

#wrapper
{
    margin: 0;
    padding: 0;
    background: #323536;
} /* No gradient for Mobile version CSS for easier viewing */



#navbar{
    width: 150%;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #323536

}


.Welcome{
    width: 150%;
    height: 1000px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #91302F;
    text-align: left;
    content: "";
    clear: both;
    display: table;
    /* applied clearfix (see Readme for more info) */

}

.Form{
    width: 150%;
    height: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #91302F;
}

span{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
    text-decoration-color: #F4F3F8;
}/* used to change text-decoration of Welcome class */

footer{
    padding-top: 15px;
    width: 90%;
    height: 5px;
    margin-bottom: 50px;
    margin-left: 10px;

}

article{
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    background-color: #91302F;
    text-align: left;
    content: "";
    clear: both;
    display: table;
    /* applied clearfix (see Readme for more info) */
}

section{
    width: 90%;
    background-color: #91302F;
    height: 40%;
    padding:10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 20px;
    text-align: justify;
    content: "";
    clear: both;
    display: table;
    /* applied clearfix (see Readme for more info) */
}


aside{
    float: right;
    width: 300px;
    padding-left: 20px;
    position: relative;
}

video{
    float: none;
    margin: auto;
    background-color: black;
    border: 3px #F4F3F8 solid;
    content: "";
    clear: both;
    display: table;
    /* applied clearfix (see Readme for more info) */
} 

video.projects{
    float: none;
    margin-top: 100px;
    background-color: black;
    border: 3px #F4F3F8 solid;
}/* centered video for easier viewing on mobile screens */

h1{
    font-family: "lucida handwriting", "Segoe Script" ,"Times New Roman";
    color: #E0D817;
    animation: shape-shift 5s infinite; /* animation for Banner's Main Heading */
}

h2{
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #F4F3F8
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    color: #F4F3F8
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F4F3F8
}

h5{
    text-align: center;
    font-size: 20px;
    color:white; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:Arial, Helvetica;
    text-decoration: none;
    color: #F4F3F8;
}

ul{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    list-style-type: none;
}

li{
    float: left;
    margin-left:3%;
    width: 22%;
}

li a{
    width: 50%;
    margin-top: 20px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #E00000;
    border-right: 2px solid #F4F3F8;
    border-left: 2px solid #F4F3F8;
    font-size: 20px;
    color: #F4F3F8;
    content: "";
    clear: both;
    display: table;
    /* applied clearfix (see Readme for more info) */
    
   
}

li a:hover{
    background-color:#F4F3F8;
    color: #E00000;
    border-right: 2px solid #E00000;
    border-left: 2px solid #E00000;
} /* removed hover animations for easier use for mobile users */


